<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title class="pacifico">
          Pending
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  
    <div class="xc" *ngIf="foods && foods.length === 0">
      <h4>No pending yet.</h4>
    </div>
    <ion-list *ngFor="let food of foods">
      <app-explore-container 
        name="pending" 
        [pic]="food.pic" 
        [detail]="food.detail" 
        [quantity]="food.quantity" 
        [time]="food.time" 
        [address]="food.address"
        [status]="food.status"
        [id]="food.id"
        [userID]="food.user_id"
      ></app-explore-container>
    </ion-list>
  </ion-content>
  