<ion-content>
  <swiper-container
    (swiperinit)="swiperInit($event)"
    (swiperslidechanged)="swiperSlideChanged($event)"
    [pagination]="true"
  >
    <swiper-slide>
      <div class="img-container">
        <img src="../../assets/img/slider-1.jpg" loading="lazy" />
        <div class="bottom-left">
          <h4 style="color: grey">Previous</h4>
        </div>
        <div class="centered">
          <h4>No Food Waste!</h4>
          <p>One third of all food produced is lost or wasted around 1.3 billions tonnes of food.</p>
        </div>
        <div class="bottom-right">
          <h4 (click)="goNext()">Next</h4>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="img-container">
        <img src="../../assets/img/slider-2.jpeg" loading="lazy" />
        <div class="bottom-left">
          <h4 (click)="goPrev()">Previous</h4>
        </div>
        <div class="centered">
          <h4>No Food Waste!</h4>
          <p>One third of all food produced is lost or wasted around 1.3 billions tonnes of food.</p>
        </div>
        <div class="bottom-right">
          <h4 (click)="goNext()">Next</h4>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="img-container">
        <img src="../../assets/img/slider-3.jpg" loading="lazy" />
        <div class="bottom-left">
          <h4 (click)="goPrev()">Previous</h4>
        </div>
        <div class="centered">
          <h4>No Food Waste!</h4>
          <p>One third of all food produced is lost or wasted around 1.3 billions tonnes of food.</p>
        </div>
        <div class="bottom-right">
          <h4 (click)="goLogin()">Start</h4>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>