<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="arrow-back-outline" slot="end" (click)="goBack()"></ion-icon>
    </ion-buttons>
    <ion-title class="pacifico">
      Chat Room
    </ion-title>
    <ion-buttons slot="end" id="open-online-users" expand="block">
      <ion-icon slot="icon-only" name="people-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content #content>
  <ion-modal #modal trigger="open-online-users" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.25, 0.5, 0.75]">
    <ng-template>
      <ion-content>
        <ion-list *ngFor="let user of onlineUsers">
          <ion-item>
            <ion-thumbnail slot="start">
              <img [src]="user.pic ? user.pic : 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
            </ion-thumbnail>
            <p>{{ user.username }}</p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-grid>
    <ion-row *ngFor="let message of messages">
      <ion-col size="9" *ngIf="message.user !== 'system' && message.user.username !== currentUser" class="message other-message">
        <b>{{ message.user.username }}</b><br>
        <span>{{ message.msg }}</span>
        <div class="createdAt" text-right><br>{{ message.created_at | date:'short' }}</div>
      </ion-col>
      
      <ion-col offset="9" size="3" *ngIf="message.user === 'system'" class="message my-message">
        <span>{{ message.msg }}</span>
      </ion-col>

      <ion-col offset="3" size="9" *ngIf="message.user.username === currentUser" class="message my-message">
        <b>{{ message.user.username }}</b><br>
        <span>{{ message.msg }}</span>
        <div class="createdAt" text-right><br>{{ message.created_at | date:'short' }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="xc" *ngIf="messages && messages.length === 0">
    <p>No chats yet.</p>
  </div>
</ion-content>
 
<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-textarea style="padding-left: 10px;" placeholder="Write your message here.." auto-grow class="" rows="1" [(ngModel)]="message"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="message === ''" class="sendBtn"
          (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only" style="vertical-align: middle;"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>