<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #C20C62; --color: white;">
    <ion-title>
      Room Talk
    </ion-title>
    <ion-buttons slot="end" *ngIf="user && user.type === 1">
      <ion-icon slot="icon-only" name="add-circle-outline" (click)="goCreate()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
  <h4>Online</h4>
  <div class="online-ngo">
    <div class="scrolling-wrapper" *ngIf="onlineUsers">
      <div *ngIf="onlineUsers.length !== 0">
        <div class="card ion-padding" style="text-align: center;" *ngFor="let online of onlineUsers">
          <div class="online-container">
            <ion-avatar>
              <ion-ripple-effect></ion-ripple-effect>
              <img style="width: 80%; height: 80%;" [src]="online.pic ? online.pic : 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
            </ion-avatar>
            <div class="online-icon"></div>
            <p style="margin-top: 0 !important; margin-bottom: 0 !important; overflow: auto; width: 60px;">{{ online.username }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="onlineUsers.length === 0">
        <div class="card ion-padding" style="text-align: center;">
          No online users
        </div>
      </div>
    </div>
  </div>
  <br>

  <h4>Room Talk</h4>
  <ion-list *ngFor="let room of rooms">
    <ion-item button (click)="goChat(room.id)">
      <p>
        <b>{{ room.title }}</b> 
        <br>
        <br>
        <span>
          <img *ngFor="let user of room.users.slice(0, 4);" style="width: 15%; height: 15%; border-radius: 50%;" [src]="user.pic ? user.pic : 'https://ionicframework.com/docs/img/demos/avatar.svg'" />&nbsp;
          <span *ngIf="room.userCnt > 4">+ {{ room.userCnt - 5 }}</span>
          <span *ngIf="!room.userCnt">No User in room.</span>
        </span>
      </p>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
  <p *ngIf="rooms  && rooms.length === 0">No room yet.</p>
  <div class="ion-padding" style="padding-top: 20px;" *ngIf="user && user.type === 1">
    <ion-button style="width: 100%; --background: #C20C62;" size="large" (click)="goCreate()">
      Create Room
      <ion-icon name="add-circle-outline" slot="end"></ion-icon>
    </ion-button>
  </div>
  
</ion-content>