<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="pacifico">
      Room Talk
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-icon slot="icon-only" name="add-circle-outline" slot="end" (click)="goCreate()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
  <h4>Online</h4>
  <div class="online-ngo">
    <div class="scrolling-wrapper">
      <div class="card ion-padding" style="text-align: center;">
        <div class="online-container">
          <ion-avatar>
            <ion-ripple-effect></ion-ripple-effect>
            <img alt="Silhouette of a person's head" style="width: 80%; height: 80%;" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <div class="online-icon"></div>
          <p style="margin-top: 0 !important; margin-bottom: 0 !important;">User</p>
        </div>
      </div>
      <div class="card ion-padding" style="text-align: center;">
        <div class="online-container">
          <ion-avatar>
            <img alt="Silhouette of a person's head" style="width: 80%; height: 80%;" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <div class="online-icon"></div>
          <p style="margin-top: 0 !important; margin-bottom: 0 !important;">User</p>
        </div>
      </div>
      <div class="card ion-padding" style="text-align: center;">
        <div class="online-container">
          <ion-avatar>
            <img alt="Silhouette of a person's head" style="width: 80%; height: 80%;" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <div class="online-icon"></div>
          <p style="margin-top: 0 !important; margin-bottom: 0 !important;">User</p>
        </div>
      </div>
      <div class="card ion-padding" style="text-align: center;">
        <div class="online-container">
          <ion-avatar>
            <img alt="Silhouette of a person's head" style="width: 80%; height: 80%;" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <div class="online-icon"></div>
          <p style="margin-top: 0 !important; margin-bottom: 0 !important;">User</p>
        </div>
      </div>
      <div class="card ion-padding" style="text-align: center;">
        <div class="online-container">
          <ion-avatar>
            <img alt="Silhouette of a person's head" style="width: 80%; height: 80%;" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <div class="online-icon"></div>
          <p style="margin-top: 0 !important; margin-bottom: 0 !important;">User</p>
        </div>
      </div>
      <div class="card ion-padding" style="text-align: center;">
        <div class="online-container">
          <ion-avatar>
            <img alt="Silhouette of a person's head" style="width: 80%; height: 80%;" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <div class="online-icon"></div>
          <p style="margin-top: 0 !important; margin-bottom: 0 !important;">User</p>
        </div>
      </div>
      <div class="card ion-padding" style="text-align: center;">
        <div class="online-container">
          <ion-avatar>
            <img alt="Silhouette of a person's head" style="width: 80%; height: 80%;" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <div class="online-icon"></div>
          <p style="margin-top: 0 !important; margin-bottom: 0 !important;">User</p>
        </div>
      </div>
    </div>
  </div>
  <br>

  <h4>Room Talk</h4>
  <ion-list>
    <ion-item button (click)="goChat()">
      <ion-thumbnail slot="start">
        <img src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <p style="text-align: center;">
        <b>Tips on how to get funds!</b> 
        <br>
        <br>
        <span>
          <img alt="Silhouette of a person's head" style="width: 15%; height: 15%; border-radius: 50%;" src="https://ionicframework.com/docs/img/demos/avatar.svg" />&nbsp;
          <img alt="Silhouette of a person's head" style="width: 15%; height: 15%;  border-radius: 50%;" src="https://ionicframework.com/docs/img/demos/avatar.svg" />&nbsp;
          <img alt="Silhouette of a person's head" style="width: 15%; height: 15%;  border-radius: 50%;" src="https://ionicframework.com/docs/img/demos/avatar.svg" />&nbsp;
          <span>13+</span>
        </span>
      </p>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item button (click)="goChat()">
      <ion-thumbnail slot="start">
        <img src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <p style="text-align: center;">
        <b>How to approach</b> 
        <br>
        <br>
        <span>
          <img alt="Silhouette of a person's head" style="width: 15%; height: 15%; border-radius: 50%;" src="https://ionicframework.com/docs/img/demos/avatar.svg" />&nbsp;
          <img alt="Silhouette of a person's head" style="width: 15%; height: 15%;  border-radius: 50%;" src="https://ionicframework.com/docs/img/demos/avatar.svg" />&nbsp;
          <img alt="Silhouette of a person's head" style="width: 15%; height: 15%;  border-radius: 50%;" src="https://ionicframework.com/docs/img/demos/avatar.svg" />&nbsp;
          <span>21+</span>
        </span>
      </p>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <div class="ion-padding" style="padding-top: 20px;">
    <ion-button style="width: 100%;" size="large" (click)="goCreate()">
      Create Room
      <ion-icon name="add-circle-outline" slot="end"></ion-icon>
    </ion-button>
  </div>
  
</ion-content>