<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goHistory()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="pacifico">Food Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none">
    <h1 *ngIf="food">{{ food.detail }}</h1>
  </ion-item>
  <img *ngIf="food" [src]="food.pic" alt="">
  <ion-item lines="none" style="padding-top: 20px;">
    <ion-avatar slot="start">
      <img *ngIf="user" [src]="user.pic ? user.pic : 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
    </ion-avatar>
    <ion-label *ngIf="user"><b>{{ user.username }}</b></ion-label>
  </ion-item>
  <div class="ion-padding" style="padding-top: 20px;" *ngIf="food">
    <h4>Cooking Time</h4>
    <p>{{ food.time }}</p>
    <br>
    <h4>Quantity</h4>
    <p>For {{ food.quantity }} People</p>
    <br>
    <h4>Address</h4>
    <p>{{ food.address }}</p>
    <div *ngIf="user && user.type === 1">
      <br>
      <h4>Mobile Number</h4>
      <p>{{ user.phone }}</p>
    </div>
    <div>
      <br>
      <h4>Status</h4>
      <p>{{ food.status === 0 ? 'Pending' : 'Completed' }}</p>
    </div>
    <div *ngIf="acceptBy">
      <br>
      <h4>Accepted By</h4>
      <p>{{ acceptBy.username }}</p>
    </div>
  </div>
</ion-content>

<div *ngIf="user && food">
  <ion-footer class="ion-no-border ion-padding" *ngIf="userType === 1 && food.status === 0">
    <ion-toolbar style="text-align: center;">
      <ion-button style="width: 100%;" size="large" (click)="goSubmit()">Accept</ion-button>
    </ion-toolbar>
  </ion-footer>
</div>
