<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="pacifico">
      My Profile
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" color="danger" (click)="doLogout()" name="log-out-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="text-align: center; padding-top:20px;">
    <img width="100px"  style="border-radius: 50%;" src="../../assets/icon/icon.png" />
    <h4>User Testing</h4>
    <p>Volunteer</p>
  </div>

  <div class="username">
    <ion-item lines="none">
      <ion-label>Username</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input style="--padding-start: 10px; --padding-end: 10px;  background: rgb(128, 128, 128, 0.1); border-radius: 5px;" placeholder="Enter Your Username" value="User Testing"></ion-input>
    </ion-item>
  </div>

  <div class="phone">
    <ion-item lines="none">
      <ion-label>Phone Number</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input type="tel" style="--padding-start: 10px; --padding-end: 10px;  background: rgb(128, 128, 128, 0.1); border-radius: 5px;" placeholder="0178016870" value="0178016870"></ion-input>
    </ion-item>
  </div>

  <div class="address">
    <ion-item lines="none">
      <ion-label>Address</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-textarea style="padding-left: 10px; padding-right: 10px; background: rgb(128, 128, 128, 0.1); border-radius: 5px;" rows="5" placeholder="Enter Your Address"></ion-textarea>
    </ion-item>
  </div>

  <div class="c_pass">
    <ion-item lines="none">
      <ion-label>Password</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input type="password" style="--padding-start: 10px; --padding-end: 10px;  background: rgb(128, 128, 128, 0.1); border-radius: 5px;" placeholder="*****"></ion-input>
    </ion-item>
  </div>

  <div class="ion-padding" style="padding-top: 0 !important;">
    <ion-note slot="end">Forget Password? <a>Click Here</a></ion-note>
  </div>

  <div class="change_pass">
    <ion-item lines="none">
      <ion-label>New Password</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input type="password" style="--padding-start: 10px; --padding-end: 10px;  background: rgb(128, 128, 128, 0.1); border-radius: 5px;" placeholder="*****"></ion-input>
    </ion-item>
  </div>
  <div class="ion-padding" style="padding-top: 0 !important;">
    <ion-note>Leave empty if there's no password changes</ion-note>
  </div>
  <ion-item style="text-align: center; padding-top: 10px;" lines="none">
    <ion-button style="width: 100%;" size="large">Submit</ion-button>
  </ion-item>
</ion-content>
