<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #C20C62; --color: white;">
    <ion-title>Reset Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="fullheight xc">
    <form style="width: 100%; margin: 20px;">
      <div style="text-align: center;">
        <img src="../../assets/icon/icon.png" width="200px" style="border-radius: 50%;" alt="">
      </div>

      <div *ngIf="loading">
        <p style="text-align: center;">Loading...</p>
      </div>

      <div *ngIf="!submitEmail && !loading && !resetPage">
        <p style="text-align: center;">Please insert your email for verification.</p>
        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="data.email" label="Email" name="email" labelPlacement="stacked" type="email" placeholder="Please Enter Email"></ion-input>
          </ion-item>
        </ion-list>
      </div>

      <div *ngIf="submitEmail && !successPage && !loading && !resetPage">
        <p style="text-align: center;">Please check your email for OTP.</p>
        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="data.otp" label="OTP" name="otp" type="number" labelPlacement="stacked" placeholder="Please Enter OTP"></ion-input>
          </ion-item>
        </ion-list>
      </div>

      <div *ngIf="submitEmail && !successPage && !loading && resetPage">
        <p style="text-align: center;">Please enter your new password.</p>
        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="data.password" label="Password" name="password" type="password" labelPlacement="stacked" placeholder="******"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="data.confirmPassword" label="Confirm Password" name="confirmPassword" type="password" labelPlacement="stacked" placeholder="******"></ion-input>
          </ion-item>
        </ion-list>
      </div>
      <br>
      <div style="text-align: center;" *ngIf="!successPage && !loading">
        <ion-button (click)="goSubmit()" style="--background: #C20C62; width:50%;">Submit</ion-button>
        <br>
        <div *ngIf="submitEmail && !successPage && !loading && !resetPage">
          <ion-button color="warning" (click)="sendOTP()" style="width:50%;">Resend OTP</ion-button>
        </div>
      </div>
      <h4 style="text-align: center; color: green;" *ngIf="successPage && !loading">Success!</h4>
      <p style="text-align: center;" *ngIf="successPage && !loading">You will be redirected back in 3 seconds.</p>
    </form>
  </div>
</ion-content>