.fullheight {
    height: 100%;
}

.xc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pacifico{
    --ion-font-family:  'Pacifico'!important;
    font-family:  'Pacifico' !important;
}