<ion-content class="ion-padding">
  <img src="../../assets/img/signin.png" alt="">
  <h1 style="text-align: center;" class="pad-bot">Login To Account</h1>

  <form>
    <div class="row pad-bot">
      <div class="col">
        <ion-input aria-setsize="large" [(ngModel)]="login.username" name="username" label="Username" label-placement="floating" fill="outline" placeholder="Username"></ion-input>
      </div>
    </div>
    <div class="row pad-bot-2">
      <div class="col">
        <ion-input aria-setsize="large" [(ngModel)]="login.password" name="password" type="password" label="Password" label-placement="floating" fill="outline" placeholder="Password"></ion-input>
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center;">
        <ion-button size="large" style="width: 100%; --background: #C20C62;"(click)="doLogin()">Login</ion-button>
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center;">
        <p>Don't have an account? <span style="color: wheat; text-decoration: underline;" (click)="doSignUp()">Sign Up Here</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center;">
        <p>Forget Password? <span style="color: wheat; text-decoration: underline;" (click)="goForget()">Click Here</span></p>
      </div>
    </div>
  </form>
</ion-content>
