<ion-header class="ion-no-border" *ngIf="userType === 0 || userType === '0'">
  <ion-toolbar>
    <ion-title class="pacifico">
      Res-Q Food
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="notifications-outline" (click)="openNotification()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border" *ngIf="userType === 1 || userType === '1'">
  <ion-toolbar class="header-color">
    <ion-title class="pacifico" style="color: white;">
      Res-Q Food
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" color="light" (click)="openNotification()" name="notifications-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="userType === 0 || userType === '0'">
  <div class="top-card">
    <ion-row class="xc">
      <ion-col  style="text-align: center;">
        <h4 style="color: white;">Share Your Love with donation</h4>
        <ion-button (click)="goDonate()" color="tertiary">Donate</ion-button>
      </ion-col>
      <ion-col>
        <img src="../../assets/img/auth-bg.png" alt="">
      </ion-col>
    </ion-row>
  </div>

  <h4 style="padding-bottom: 15px; padding-top: 20px;">Latest Updates</h4>
  <ion-card class="ion-activatable">
    <ion-ripple-effect></ion-ripple-effect>
    <img src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="userType === 1 || userType === '1'">
  <div class="top-bg">
    <div class="top-c ion-padding xc-2">
      <form style="width: 100%;">
        <h4 style="text-decoration: underline; color: white;">Request Status</h4>
        <ion-row *ngIf="counts">
          <ion-col>
            <ion-card style="text-align: center; width: 100%; height: 80px; margin-left: 0;">
              <h4 style="margin-bottom: 0;">{{ counts.new }}</h4>
              <p style="margin-top: 0;">New</p>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card style="text-align: center; width: 100%; height: 80px; margin-left: 0;">
              <h4 style="margin-bottom: 0;">{{ counts.pending }}</h4>
              <p style="margin-top: 0;">Pending</p>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card style="text-align: center; width: 100%; height: 80px; margin-left: 0;">
              <h4 style="margin-bottom: 0;">{{ counts.completed }}</h4>
              <p style="margin-top: 0;">Completed</p>
            </ion-card>
          </ion-col>
        </ion-row>
      </form>
      
    </div>
  </div>
 
  <hr>
  <div class="bot-c ion-padding">
    <h4>New Request</h4>
    <ion-list *ngFor="let food of foods">
      <ion-item button (click)="goPending()">
        <ion-thumbnail slot="start">
          <img [src]="food.pic" />
        </ion-thumbnail>
        <p><b>{{ food.detail }}</b> <br> Food for {{ food.quantity }} peoples <br> Cooking Time: {{ food.time }} <br> Location: {{ food.address }}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>